
body {
	background-color: #D3D3D3;
	overflow:auto;
}

#Page {
	font-family: Serif, Times, sans-serif;
	font-size: 20px;
}

#FormClass {
}

#Classe {
	font-family: Consolas;
	font-size: 14px;
	width: 4em;
}

#Classe option {
	font-family: Consolas;
	font-size: 15px;
}